<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta content="yes" name="apple-mobile-web-app-capable">
        <meta content="yes" name="apple-touch-fullscreen">
        <meta content="telephone=no,email=no" name="format-detection">
        <script src="http://g.tbcdn.cn/mtb/lib-flexible/0.3.4/??flexible_css.js,flexible.js"></script>
        <link rel="apple-touch-icon" href="favicon.png">
        <link rel="Shortcut Icon" href="favicon.png" type="image/x-icon">
        <title>再来一波</title>
        <style>
            .black1{
                width: 10rem;
                height: 50px;
                background: #dfdfdf;
                font-size: 1rem;
            }
        </style>
    </head>
    <body>
        <!-- 页面结构写在这里 -->
        <div class="black1">
                flexible rem 布局 字体大小的bug
        </div>
    </body>
</html>